GITHUB_OWNER=TON_COMPTE_GITHUB
GITHUB_REPO=TON_REPOSITORY
GITHUB_BRANCH=main
GITHUB_TOKEN=TON_TOKEN_GITHUB

ADMIN_PASSWORD=MonMotDePasseAdmin123!

CONTACT_EMAIL=gala@mirs.qc.ca

PORT=3001
CORS_ORIGIN=http://localhost:5173